In [1]:
import pandas as pd
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')
print(covid_data)

       Province/State  Country/Region          Last Update  Confirmed  Deaths  \
0               Hubei           China  2020-03-17T11:53:10      67799    3111
1                 NaN           Italy  2020-03-17T18:33:02      31506    2503
2                 NaN            Iran  2020-03-17T15:13:09      16169     988
3                 NaN           Spain  2020-03-17T20:53:02      11748     533
4                 NaN         Germany  2020-03-17T18:53:02       9257      24
..                ...             ...                  ...        ...     ...
307             Wales  United Kingdom  2020-03-17T11:53:10          0       5
308               NaN           Nauru  2020-03-17T11:53:10          0       0
309              Niue     New Zealand  2020-03-17T11:53:10          0       0
310               NaN          Tuvalu  2020-03-17T11:53:10          0       0
311  Pitcairn Islands  United Kingdom  2020-03-17T11:53:10          0       0

     Recovered  Latitude  Longitude
0        56003   30.9756   112.2707
1         2941   41.8719    12.5674
2         5389   32.4279    53.6880
3         1028   40.4637    -3.7492
4           67   51.1657    10.4515
..         ...       ...        ...
307          0   52.1307    -3.7837
308          0   -0.5228   166.9315
309          0  -19.0544  -169.8672
310          0   -7.1095   177.6493
311          0  -24.3768  -128.3242

[312 rows x 8 columns]

In [2]:
#exract all collumns

covid_data.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude'],
      dtype='object')

In [3]:
"""
get the latest number of confirmed, deaths, recovered 
and active cases of Novel Coronavirus (COVID-19) Country wise.
"""
covid_data['Active'] = covid_data['Confirmed'] - covid_data['Deaths'] - covid_data['Recovered']
result = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()
print(result)

                     Country/Region  Confirmed  Deaths  Recovered  Active
0                       Afghanistan         26       0          1      25
1                           Albania         55       1          0      54
2                           Algeria         60       4         12      44
3                           Andorra         39       0          1      38
4                        Antarctica          0       0          0       0
..                              ...        ...     ...        ...     ...
163                      Uzbekistan         10       0          0      10
164                       Venezuela         33       0          0      33
165                         Vietnam         66       0         16      50
166            Winter Olympics 2022          0       0          0       0
167  occupied Palestinian territory          0       0          0       0

[168 rows x 5 columns]

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/495077585.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

In [4]:
'''
get the latest number of confirmed deaths and recovered 
people of Novel Coronavirus (COVID-19) cases Country/Region 
'''

data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].max()
pd.set_option('display.max_rows', None)
print(data)

                                             Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      Australian Capital Territory          2       0          0
               From Diamond Princess                 0       0          0
               New South Wales                     210       4          4
               Northern Territory                    1       0          0
               Queensland                           78       0          8
               South Australia                      29       0          3
               Tasmania                              7       0          0
               Victoria                             94       0          8
               Western Australia                    31       1          0
Canada         Alberta                              74       0          0
               British Columbia                    103       4          4
               Grand Princess                        8       0          0
               Manitoba                              8       0          0
               New Brunswick                         8       0          0
               Newfoundland and Labrador             3       0          0
               Nova Scotia                           7       0          0
               Ontario                             507       1          5
               Prince Edward Island                  1       0          0
               Quebec                              128       1          0
               Saskatchewan                          7       0          0
China          Anhui                               990       6        984
               Beijing                             456       8        369
               Chongqing                           576       6        570
               Fujian                              296       1        295
               Gansu                               133       2         91
               Guangdong                          1364       8       1307
               Guangxi                             253       2        248
               Guizhou                             147       2        144
               Hainan                              168       6        161
               Hebei                               318       6        310
               Heilongjiang                        482      13        456
               Henan                              1273      22       1250
               Hong Kong                           162       4         88
               Hubei                             67799    3111      56003
               Hunan                              1018       4       1014
               Inner Mongolia                       75       1         73
               Jiangsu                             631       0        631
               Jiangxi                             935       1        934
               Jilin                                93       1         92
               Liaoning                            125       1        120
               Macau                                12       0         10
               Ningxia                              75       0         75
               Qinghai                              18       0         18
               Shaanxi                             246       3        236
               Shandong                            761       7        746
               Shanghai                            358       3        325
               Shanxi                              133       0        133
               Sichuan                             540       3        520
               Tianjin                             136       3        133
               Tibet                                 1       0          1
               Unknown                               0       0          0
               Xinjiang                             76       3         73
               Yunnan                              176       2        172
               Zhejiang                           1232       1       1216
Cruise Ship    Diamond Princess                    696       7        325
Denmark        Denmark                             977       4          1
               Faroe Islands                        47       0          0
France         France                             7652     148         12
               French Guiana                         7       0          0
               French Polynesia                      3       0          0
               Guadeloupe                            6       0          0
               Mayotte                               1       0          0
               Reunion                               9       0          0
               Saint Barthelemy                      3       0          0
               St Martin                             2       0          0
Malaysia       Johor                                 0       0          0
               Kedah                                 0       0          0
               Kelantan                              0       0          0
               Melaka                                0       0          0
               Negeri Sembilan                       0       0          0
               Pahang                                0       0          0
               Perak                                 0       0          0
               Perlis                                0       0          0
               Pulau Pinang                          0       0          0
               Sabah                                 0       0          0
               Sarawak                               0       0          0
               Selangor                              0       0          0
               Terengganu                            0       0          0
               Unknown                               0       0          0
               W.P. Kuala Lumpur                     0       0          0
               W.P. Labuan                           0       0          0
               W.P. Putrajaya                        0       0          0
Netherlands    Curacao                               3       0          0
               Netherlands                        1705      43          2
New Zealand    Cook Islands                          0       0          0
               Niue                                  0       0          0
US             Alabama                              39       0          0
               Alaska                                3       0          0
               Arizona                              20       0          1
               Arkansas                             22       0          0
               California                          698      12          6
               Colorado                            160       2          0
               Connecticut                          68       0          0
               Delaware                             16       0          0
               Diamond Princess                     47       0          0
               District of Columbia                 22       0          0
               Florida                             216       6          0
               Georgia                             146       1          0
               Grand Princess                       21       0          0
               Guam                                  3       0          0
               Hawaii                               10       0          0
               Idaho                                 8       0          0
               Illinois                            161       1          2
               Indiana                              30       2          0
               Iowa                                 23       0          0
               Kansas                               18       1          0
               Kentucky                             26       1          1
               Louisiana                           196       4          0
               Maine                                32       0          0
               Maryland                             60       0          3
               Massachusetts                       218       0          1
               Michigan                             65       0          0
               Minnesota                            60       0          0
               Mississippi                          21       0          0
               Missouri                             11       0          0
               Montana                               9       0          0
               Nebraska                             21       0          0
               Nevada                               56       1          0
               New Hampshire                        26       0          0
               New Jersey                          267       3          1
               New Mexico                           23       0          0
               New York                           1706      13          0
               North Carolina                       64       0          0
               North Dakota                          3       0          0
               Ohio                                 67       0          0
               Oklahoma                             19       0          0
               Oregon                               66       1          0
               Pennsylvania                        112       0          0
               Puerto Rico                           5       0          0
               Rhode Island                         23       0          0
               South Carolina                       47       1          0
               South Dakota                         11       1          0
               Tennessee                            74       0          0
               Texas                               110       1          0
               Utah                                 51       0          0
               Vermont                              12       0          0
               Virgin Islands                        2       0          0
               Virginia                             67       2          0
               Washington                         1076      55          1
               West Virginia                         1       0          0
               Wisconsin                            72       0          1
               Wyoming                              11       0          0
Ukraine        Unknown                               0       0          0
United Kingdom Cayman Islands                        1       1          0
               Channel Islands                       0       0          0
               England                               0     198          0
               Gibraltar                             3       0          1
               Guernsey                              0       0          0
               Jersey                                0       0          0
               Northern Ireland                      0       0          0
               Pitcairn Islands                      0       0          0
               Scotland                              0      11          0
               Unknown                            1950       2         52
               Wales                                 0       5          0

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/552511180.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].max()

In [5]:
'''
 get the Chinese province wise cases of 
 confirmed, deaths and recovered cases of Novel Coronavirus (COVID-19)
'''


c_data = covid_data[covid_data['Country/Region']=='China']
c_data = c_data[['Province/State', 'Confirmed', 'Deaths', 'Recovered']]
result = c_data.sort_values(by='Confirmed', ascending=False)
result = result.reset_index(drop=True)
print(result)

    Province/State  Confirmed  Deaths  Recovered
0            Hubei      67799    3111      56003
1        Guangdong       1364       8       1307
2            Henan       1273      22       1250
3         Zhejiang       1232       1       1216
4            Hunan       1018       4       1014
5            Anhui        990       6        984
6          Jiangxi        935       1        934
7         Shandong        761       7        746
8          Jiangsu        631       0        631
9        Chongqing        576       6        570
10         Sichuan        540       3        520
11    Heilongjiang        482      13        456
12         Beijing        456       8        369
13        Shanghai        358       3        325
14           Hebei        318       6        310
15          Fujian        296       1        295
16         Guangxi        253       2        248
17         Shaanxi        246       3        236
18          Yunnan        176       2        172
19          Hainan        168       6        161
20       Hong Kong        162       4         88
21         Guizhou        147       2        144
22         Tianjin        136       3        133
23           Gansu        133       2         91
24          Shanxi        133       0        133
25        Liaoning        125       1        120
26           Jilin         93       1         92
27        Xinjiang         76       3         73
28  Inner Mongolia         75       1         73
29         Ningxia         75       0         75
30         Qinghai         18       0         18
31           Macau         12       0         10
32           Tibet          1       0          1
33         Unknown          0       0          0

In [6]:
'''
get the latest country wise deaths cases of Novel Coronavirus (COVID-19).
'''


data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Deaths']>0][['Country/Region', 'Deaths']]
print(result)

         Country/Region  Deaths
1               Albania       1
2               Algeria       4
6             Argentina       2
9             Australia       5
10              Austria       3
11           Azerbaijan       1
12              Bahrain       1
16              Belgium      10
21               Brazil       1
23             Bulgaria       2
27               Canada       6
30                China    3230
37          Cruise Ship       7
41              Denmark       4
42   Dominican Republic       1
43              Ecuador       2
44                Egypt       4
49              Finland       4
50               France     148
54              Germany      24
56               Greece       5
60            Guatemala       1
63               Guyana       1
66              Hungary       1
67              Iceland       1
68                India       3
69            Indonesia       5
70                 Iran     988
71                 Iraq      11
72              Ireland       2
74                Italy    2503
76                Japan      29
83         Korea, South      81
87              Lebanon       3
91           Luxembourg       1
95           Martinique       1
103             Morocco       2
107         Netherlands      43
111              Norway       3
115              Panama       1
117                Peru       9
118         Philippines      12
119              Poland       5
120            Portugal       1
130          San Marino       9
137            Slovenia       1
140               Spain     533
142               Sudan       1
145              Sweden       7
146         Switzerland      40
147             Taiwan*       1
149            Thailand       1
156              Turkey       1
158                  US     108
159             Ukraine       2
161      United Kingdom     217

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/1105895205.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [9]:
'''
 list countries with no cases of Novel Coronavirus (COVID-19) recovered.
'''

data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Recovered']==0][['Country/Region', 'Confirmed', 'Deaths', 'Recovered']]
print(result)

                       Country/Region  Confirmed  Deaths  Recovered
1                             Albania         55       1          0
4                          Antarctica          0       0          0
5                 Antigua and Barbuda          1       0          0
8                               Aruba          3       0          0
14                           Barbados          2       0          0
17                              Benin          1       0          0
18                             Bhutan          1       0          0
19                            Bolivia         11       0          0
22                             Brunei         56       0          0
23                           Bulgaria         67       2          0
24                       Burkina Faso         15       0          0
26                           Cameroon         10       0          0
28           Central African Republic          1       0          0
29                              Chile        201       0          0
32                Congo (Brazzaville)          1       0          0
33                   Congo (Kinshasa)          3       0          0
34                         Costa Rica         41       0          0
38                               Cuba          5       0          0
39                             Cyprus         40       0          0
42                 Dominican Republic         21       1          0
43                            Ecuador         58       2          0
45                  Equatorial Guinea          1       0          0
47                           Eswatini          1       0          0
48                           Ethiopia          5       0          0
51                      French Guiana         11       0          0
52                              Gabon          1       0          0
55                              Ghana          7       0          0
57                          Greenland          1       0          0
58                         Guadeloupe         18       0          0
59                               Guam          3       0          0
60                          Guatemala          6       1          0
61                           Guernsey          0       0          0
62                             Guinea          1       0          0
63                             Guyana          7       1          0
64                           Holy See          1       0          0
65                           Honduras          8       0          0
67                            Iceland        220       1          0
77                             Jersey          0       0          0
79                         Kazakhstan         33       0          0
80                              Kenya          3       0          0
81                           Kiribati          0       0          0
82                       Korea, North          0       0          0
84                             Kosovo          2       0          0
88                            Liberia          5       0          0
89                      Liechtenstein         19       0          0
91                         Luxembourg        140       1          0
92                           Malaysia          0       0          0
93                           Maldives         13       0          0
95                         Martinique         16       1          0
96                         Mauritania          1       0          0
97                            Mayotte          1       0          0
100                            Monaco          7       0          0
101                          Mongolia          4       0          0
102                        Montenegro          2       0          0
104                           Namibia          2       0          0
105                             Nauru          0       0          0
108                       New Zealand         12       0          0
109                           Nigeria          3       0          0
114                             Palau          0       0          0
115                            Panama         69       1          0
116                          Paraguay         11       0          0
121                       Puerto Rico          0       0          0
123             Republic of the Congo          0       0          0
124                           Reunion          9       0          0
127                            Rwanda          7       0          0
128                       Saint Lucia          2       0          0
129  Saint Vincent and the Grenadines          1       0          0
134                        Seychelles          8       0          0
136                          Slovakia         72       0          0
137                          Slovenia        275       1          0
138                           Somalia          1       0          0
139                      South Africa         62       0          0
142                             Sudan          1       1          0
143              Summer Olympics 2020          0       0          0
144                          Suriname          1       0          0
148                          Tanzania          1       0          0
150                       The Bahamas          1       0          0
151                        The Gambia          1       0          0
152                              Togo          1       0          0
153                             Tonga          0       0          0
154               Trinidad and Tobago          5       0          0
155                           Tunisia         24       0          0
156                            Turkey         47       1          0
157                            Tuvalu          0       0          0
159                           Ukraine         14       2          0
162                           Uruguay         29       0          0
163                        Uzbekistan         10       0          0
164                         Venezuela         33       0          0
166              Winter Olympics 2022          0       0          0
167    occupied Palestinian territory          0       0          0

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/252652294.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [12]:
'''
 list countries with all cases of Novel Coronavirus (COVID-19) died
'''

data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Confirmed']==data['Deaths']]
result = result[['Country/Region', 'Confirmed', 'Deaths']]
result = result.sort_values('Confirmed', ascending=False)
result = result[result['Confirmed']>0]
result = result.reset_index(drop=True)
print(result)

  Country/Region  Confirmed  Deaths
0          Sudan          1       1

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/463318421.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [13]:
'''list countries with all cases of Novel Coronavirus (COVID-19) recovered.'''

data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Confirmed']==data['Recovered']]
result = result[['Country/Region', 'Confirmed', 'Recovered']]
result = result.sort_values('Confirmed', ascending=False)
result = result[result['Confirmed']>0]
result = result.reset_index(drop=True)
print(result)

  Country/Region  Confirmed  Recovered
0          Nepal          1          1

/var/folders/x7/wzqzgjtd2bj3m74596srzmlm0000gp/T/ipykernel_17697/1442210192.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()